
<section class="slider_sec">
  <div class="page-width transformation">
  <div class="t4s-container inner_cont">
    <div class="row">
      <div class="col-lg-12">
        		<h2>{{ section.settings.main_heading }}</h2>
        <div class="slider_para">
          <p>{{ section.settings.text_below_heading }}</p>
        </div>
      		<div class="owl-carousel owl-theme">
              {% for block in section.blocks %}
                <div class="item">
                  <img src="{{ block.settings.slider_image  | img_url: 'master' }}">
              	</div>
              {% endfor %}
			</div>
        <div class="custom-btn">
          <a class="btn" href="{{ section.settings.btn-link }}">{{ section.settings.btn-label }}</a>
        </div>
      </div>
    </div>
  </div>
 </div>   
</section>
  

{% schema %}
  {
    "name": "Transformation Slider",
    "class": "Transform",
    "settings": [
		{
		"type":  "text",
		"id":  "main_heading",
		"label":  "Add Heading"
		},
		{
		"type":  "text",
		"id":  "text_below_heading",
		"label":  "Add Text below Heading"
		},
        {
          "type": "text",
          "id": "btn-label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn-link",
          "label": "Button Link"
        }
	],
	"blocks": [
		{
		
		"type": "select",
		"name": "Slider",
		"settings": [
			{
				"type": "image_picker",
				"id": "slider_image",
				"label": "Add Slider Image"

				}
			]

			}
		],
  "presets": [
    {
      "name": "Transformation Slider",
      "category": "Transformation Slider"
    }
  ]
  }
{% endschema %}




<style>
  .slider_sec {padding: 3% 0; background-color: #F0F4F5;}
  .slider_sec .inner_cont {width: 100%; margin: auto;}
    .slider_sec h2 {font-size: 30px; font-weight: 700; text-align: center; width: 100%;} 
    .slider_sec a {background-color: #89b6a6; text-decoration: none; border-color: #89b6a6; font-weight: 600; text-align: center; transition: all .25s ease; padding: 12px 32px; border-radius: 30px; color: #fff;}
  .slider_sec .slider_para {text-align: center; margin-bottom: 5%;}
  .slider_sec .slider_para p {font-size: 18px; font-weight: 400;}
  .item {
    margin: 0 10px;
  }
  .Transform  .slick-arrow{
    background-image:url(https://cdn.shopify.com/s/files/1/0592/7151/2216/files/arrow-left-removebg-preview.png?v=1638894224);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    filter: invert(1);
    z-index:1;
  }
 .Transform .slick-arrow::before{
    content: none;
  }
.Transform .slick-arrow.slick-next{
    top: 50%;
    right: -65px;
    background-image:url(https://cdn.shopify.com/s/files/1/0592/7151/2216/files/arrow-right-removebg-preview.png?v=1638894224);
    transform: none;
  }
 .Transform .slick-arrow.slick-prev{
    top: 50%;
    left: -65px;
    transform: none;
  }
  .custom-btn {
    text-align: center;
    padding-top: 3rem;
}
  @media screen and (max-width: 767px) {
    .Transform .slick-arrow {
    display: none !important;
  }
   .Transform .slider_sec .slider_para p {
    font-size: 15px;
}
   .Transform .slider_sec h2 {
    font-size: 26px;
}
  } 
  @media screen and (max-width: 600px) {
  	.slider_sec {padding-top: 8%; padding-bottom: 8%;}
  }
</style>


<script>
  $('.owl-carousel').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      dots: false,
      loop: true,
     autoplay: true,
    arrows: false,
    autoplaySpeed: 2000,
//     speed: 2000,
//     cssEase: "linear",
     responsive: [
       	{
          breakpoint: 1100,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
          }
        },
         {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: false,
          }
        }
      ]
    });
</script>